@import './../../../../css/service';

.card_banner {
    background-color: #000;
    box-sizing: border-box;
    color: #fff;
    display: block;
    height: 192px;
    padding: 91px 29px 0;
    position: relative;
    width: 100%;
}

.image {
    display: block;
    height: 192px;
    left: 0;
    object-fit: cover;
    opacity: 0.5;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
}

%content {
    @extend %ellipsis;

    position: relative;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.rating {
    @extend %content;

    display: block;
    padding-top: 5px;
}

.title {
    @extend %content;

    font-size: 19px;
    margin: 0;
    padding-bottom: 2px;
}

.type {
    @extend %content;

    font-size: 17px;
    margin: 0;
    //padding-bottom: 2px;
}
