.top_label {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-bottom: 13px;
}

.text {
    background-color: #000;
    border-radius: 4px;
    color: #fff;
    display: block;
    font-size: 18px;
    line-height: 1;
    margin: 0;
    padding: 5px 8px;
}
