@import './../../../../css/var';

.rating_card {
    border: 1px solid $button-font-color;
    border-radius: 8px;
    display: block;
    padding: 44px $outer-padding $outer-padding * 2 $outer-padding * 2;
}

.value {
    color: $button-font-color;
    font-size: 60px;
    line-height: 1;
    margin: 0;
    padding-bottom: 5px;
}

.title {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
}

.description {
    color: $secondary-font-color;
    font-size: 18px;
    margin: 0;
    padding-bottom: 8px;
}

.delta {
    background-color: $positive-color;
    border-radius: 14px;
    color: #fff;
    display: inline-block;
    margin: 0;
    padding: 2px 8px 0 7px;
}

.delta_arrow {
    height: 14px;
    padding: 0 7px 0 0;
    position: relative;
    top: 1px;
    width: 12px;
}
